body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input {
    width: 325px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease; /* Adicionando a transição suave */
}

button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button.green {
    background-color: green;
}
